
connection.py
__pycache__/
*.log
.env
venv/
__init__.py
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb
#test files
test/
test_db_connection.py
am_test_scraper.py
test_scrpaper.py
# IDE specific files
.vscode/
.idea/
#database files
.db
*.sqlite3
